language: c
dist: trusty
os:
- linux

before_install:
  - sudo apt-get update
  - wget -qO - http://packages.confluent.io/deb/3.3/archive.key | sudo apt-key add - # Use the confluent repository
  - sudo add-apt-repository "deb http://packages.confluent.io/deb/3.3 stable main"
  - sudo apt-get update -qq # Update quietly.
  - sudo apt-get install -y gcc-multilib librdkafka-dev librdkafka1

script:
- make all
